<div class="container text-center">
	<h1>About Page</h1>
	<p>We are DevMatch. Our company focuses on creating an exclusive community
	for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo possimus architecto voluptates, expedita ex animi cumque, fugit rerum necessitatibus et ullam at nihil provident blanditiis! Magnam cupiditate cumque in neque.
	</p>
</div>